@font-face {
  font-family: "Britannic Bold";
  src: url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.eot");
  src: url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8be4a2f403c2dc27187d892cca388e24.svg#Britannic Bold")
      format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Brittanic Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
